.header-input {
  color: #aeb2b6 !important;
}

.header-input::placeholder {
  color: #aeb2b6 !important;
}

.item {
  width: 18rem;
  border: none !important;
}

.img {
  width: 500px;
  height: 500px;
}